#stats {
    width: 600px;
    /* border: 1px solid black; */
    overflow: hidden;
}

#sessionStats {
    width: 300px;
    float: left;
    /* border: 1px solid black; */
}

#allTimeStats {
    float: left;
    /* border: 1px solid green; */
}

#name {
    font-weight: bold;
    font-size: 25px;
}

.theStats {
    font-weight: bold;
    font-size: 20px;
}